body {
	box-sizing: border-box;
}
section#cap{
	height: 60px;
	width: 100%;
	background-color: red;
	display: inline-block;  
	position: fixed;
	margin-top: -60px;
	opacity: 1;



}
section#text{
	margin-top: 60px;


display: block;
}
